{%extends "base.html"%}
{% load static %}
{%block title%}
<title>About</title>
{%endblock%}
{%block content%}
  <img class="about-img" src="{%static 'css/about.jpg'%}" alt="Cookbook - О нас">
  {%if sent%}
    <h2>Благодарим за Ваш отзыв!</h2>
  {%else%}
    <h2>Что такое блог «Cookbook»?</h2>
    <p>Это блог для тех, кто любит и ценит вкусную домашнюю еду. Здесь вы найдете множество новых кулинарных идей!</p>
    <p>Нам будет приятно получить от вас письмо с рассказом о том, что вам понравилось на нашем сайте!</p>
    <ul><h3>На нашем сайте можно:</h3>
      <li>Искать рецепты сайта по каталогу</li>
      <li>Сортировать блюда по категориям</li>
      <li>Сравнивать рецепты по вкусу, ингредиентам, рейтингу и другим параметрам</li>
      <li>Оставлять комментарии</li>
      <li>Просматривать Кулинарные книги</li>
      <li>Получать полезные советы</li>
      <li>Добавлять блюда в закладки</li>
    </ul>
    <h2>Оставь свой отзыв, комментарий, пожелание:</h2>
    <form  method="post">
      {%csrf_token%}
      {{review_form.as_p}}
      <button type="submit" class="button">Отправить</button>
    </form>
  {%endif%}
{%endblock%}
