{%extends "base.html"%}
{% load static %}
{%block title%}
<title class="new">Desserts</title>
{%endblock%}
{%block content%}
<ul>
  {%for dessert in dish_list%}
    <li>
      <ul class="recipe_block">
        <li class="name">{{dessert.name}}</li>
        <div class="photo_block">
          <li>Ингредиенты:{{dessert.ingredients|linebreaks}}</li>
          <li class="photo"><img src="{{dessert.photo.url}}" height="250" width="250"></li>
        </div>
        <li><a class="button" href="{% url 'dish' %}?id={{ dessert.id }}">Читать рецепт</a></li>
      </ul>
    </li>
  {%endfor%}
</ul>
{%endblock%}
