{%extends "base.html"%}
{% load static %}
{%block title%}
<title class="new">Salads</title>
{%endblock%}
{%block content%}
<ul>
  {%for salad in dish_list%}
    <li>
      <ul class="recipe_block">
        <li class="name">{{salad.name}}</li>
        <div class="photo_block">
          <li>Ингредиенты: {{salad.ingredients|linebreaks}}</li>
          <li class="photo"><img src="{{salad.photo.url}}" height="250" width="250"></li>
        </div>
        <li><a class="button" href="{% url 'dish' %}?id={{ salad.id }}">Читать рецепт</a></li>
      </ul>
    </li>
  {%endfor%}
</ul>
{%endblock%}
