{%extends "base.html"%}
{% load static %}
{%block title%}
<title class="new">Salads</title>
{%endblock%}
{%block content%}
<ul >
  {%for salad in dish_list%}
  {%if salad.category.name == "Салаты"%}
    <li>
      <ul class="recipe_block">
        <li class="name">{{salad.name}}</li>
        <div class="photo_block">
          <li>Ингредиенты: {{salad.ingredients|linebreaks}}</li>
          <li class="photo"><img src="{{salad.photo.url}}" height="250" width="250"></li>
        </div>
        <li class="recipe">Способ приготовления: {{salad.recipe|linebreaks}}</li>
      </ul>
    </li>
  {%endif%}
  {%endfor%}
</ul>
{%endblock%}
